{% extends "practica/base.html" %}

{% block title %}Lista de artistas (Ordenado por discográficas){% endblock %}

{% block content %}
    {% if artista %}

        {% for key, values in artista.items %}
            Discografica: {{ key }}
            <ul>
                <br/>
                {% for artista in values %}
                    <li>{{ artista.nombre }}<br/>
                        {{ artista.pais }}<br/>

                        {% for estilo in artista.estilos %}
                            {{ estilo.value }}<br/>
                        {% endfor %}

                    </li>
                {% endfor %}
            </ul>
            <br/>
        {% endfor %}

    {% else %}

        <p>No hay artistas guardados.</p>

    {% endif %}
{% endblock %}