{% extends "practica/base.html" %}

{% block title %}Artistas más populares{% endblock %}

{% block content %}
    {% if artistas %}
        <ul>
        {% for artista in artistas %}
            <li>{{ artista.nombre }}<br/>
                {{ artista.pais }}<br/>
                <ul>
                {% for estilo in artista.estilos.all %}
                    {{ estilo.value }}<br/>
                {% endfor %}
                </ul>

            </li>
        {% endfor %}
    </ul>
    {% else %}

        <p>No hay artistas guardados.</p>

    {% endif %}
{% endblock %}