<head>
    <meta charset="UTF-8">
    <title>Movie list</title>
</head>
<body>
{% if genres %}
    {% for genre, movies in genres.items %}
        <h3>{{ genre}}</h3>
        <table>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
            </tr>
            {% for movie in movies%}
                <tr>

                    <td>
                        {{ movie.movie_id }}
                    </td>
                    <td>
                        {{ movie.title }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>