<head>
    <meta charset="UTF-8">
    <title>Movie list</title>
</head>
<body>
{% if movies %}
    <table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Title
        </th>
        <th>
            Imdb id
        </th>
        <th>
            Tmdb id
        </th>
        <th>
            Genres
        </th>

    </tr>
    {% for movie in movies %}
        <tr>
            <td>
                {{ movie.movie_id }}
            </td>
            <td>
                {{ movie.title }}
            </td>
            <td>
                {{ movie.imdb_id }}
            </td>
            <td>
                {{ movie.tmdb_id }}
            </td>
            <td>
                <ul>
                    {% for genre in movie.genres.all %}
                        <li>{{ genre.value }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>